form(method="POST", action="/new")
  p Latitude
    input(type="number" step="any" name="latitude" required)
  p Longitude
    input(type="number" step="any" name="longitude" required)
  p Rating
    input(type="number" min="0" max="10" name="rating" required)

  p
    input(type="submit")